{% extends 'base.html.twig' %}

{% block title %}Moodday index{% endblock %}

{% block body %}
    <h1>Moodday index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moodday in mooddays %}
            <tr>
                <td>{{ moodday.id }}</td>
                <td>{{ moodday.date ? moodday.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('moodday_show', {'id': moodday.id}) }}">show</a>
                    <a href="{{ path('moodday_edit', {'id': moodday.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('moodday_new') }}">Create new</a>
{% endblock %}
