{{ form_start(form) }}
<div>
    {{ form_label(form.medication, 'Medicine') }}
    {{ form_widget(form.medication) }}
</div>
<div>
    {{ form_label(form.startDate, 'Treatment start date') }}
    {{ form_widget(form.startDate) }}
</div>
<div>
    {{ form_label(form.duration, 'Treatment duration') }}
    {{ form_widget(form.duration) }}
</div>

<div class="row">
    <p>Drug dose : </p>
    <div class="mx-2">
        {{ form_label(form.morning, 'Morning') }}
        {{ form_widget(form.morning) }}
    </div>
    <div class="mx-2">
        {{ form_label(form.noon, 'Noon') }}
        {{ form_widget(form.noon) }}
    </div>
    <div class="mx-2">
        {{ form_label(form.evening, 'Evening') }}
        {{ form_widget(form.evening) }}
    </div>
</div>
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
