{% extends 'base.html.twig' %}

{% block title %}Mood index{% endblock %}

{% block body %}
    <h1>Mood index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Pictogram</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mood in moods %}
            <tr>
                <td>{{ mood.id }}</td>
                <td>{{ mood.name }}</td>
                <td>{{ mood.pictogram }}</td>
                <td>
                    <a href="{{ path('mood_show', {'id': mood.id}) }}">show</a>
                    <a href="{{ path('mood_edit', {'id': mood.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mood_new') }}">Create new</a>
{% endblock %}
